[submodule "submodule_path"]
    path = submodule
    url = https://github.com/Pebbles-code/secretdata
[submodule "secretdata"]
	path = secretdata
	url = https://github.com/Pebbles-code/secretdata
[submodule "submodule"]
	path = submodule
	url = https://github.com/Pebbles-code/secretdata
